<?xml version="1.0"?>
<robot name="my_mobile" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="left_wheel">
        <mu1>200</mu1>
        <mu2>200</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <gazebo reference="right_wheel">
        <mu1>200</mu1>
        <mu2>200</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <gazebo reference="base_link">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
    </gazebo>

</robot>

